div{
	float: left;
	display: inline-block;
}

table { 
    border-spacing: 0px;
    border-collapse: collapse;
}

td { 
    width: 5px;
    height: 5px;
}

.current{
	background-color: grey;
	border: 0px solid grey;
}